body{
    background: url("https://i.ibb.co/xsJxJsj/Back-Ground-Image.png");
    font-family: sans-serif;
}
textarea{
    resize: none;
    font-family: monospace;
    font-size: 20px;
}
h1{
    background: #000;
    color: rgb(0, 172, 0);
    margin-top: 0;
    padding: 10px;
    width: 400px;
    font-family: monospace;
    display: flexbox;
    margin-left: auto;
    margin-right: auto;
    border: 2px inset #00ad00;
    text-shadow: 2px 2px 5px #000;
    text-align: center;
    font-size: 20px;
}
.textoBinario::placeholder{
    color: green;
    display: block;
    padding-top: 60px;
    font-size: 50px;
    font-family: monospace;
    text-align: center;
}
.cajaTexto{
    display: flex;
    padding-top: 0;
    margin-top: 10px;
}
.textoNormal{
    background: #000000;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: -5px;
    padding: 0;
    border: 5px solid rgb(0, 92, 0);
    width: 600px;
    height: 200px;
    color: rgb(0, 172, 0);
}
.botones{
    margin: 0;
    padding: 0;
    display: flex;
}
.bton{
    text-align: center;
    display: block;
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
    border: 5px solid rgb(1, 121, 1);
    width: 250px;
    height: 100px;
    background: rgb(0, 0, 0);
    color: rgb(0, 172, 0);
    font-size: 25px;
    font-family: monospace;
}
.bton:hover{
    background: rgb(0, 56, 0);
    cursor: pointer;
}
.btonTexto{
    text-align: center;
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-top: 5px;
    border: 5px solid rgb(1, 121, 1);
    width: 250px;
    height: 100px;
    background: rgb(0, 0, 0);
    color: rgb(0, 172, 0);
    font-size: 25px;
    font-family: monospace;

}
.btonTexto:hover{
    background: rgb(0, 56, 0);
    cursor: pointer;
}
.cajaBinario{
    display: flex;
    padding: 0;
    margin-top: 10px;
}
.textoBinario{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    border: 5px solid rgb(0, 92, 0);
    width: 600px;
    height: 200px;
    background: #000;
    color: rgb(0, 172, 0);
    cursor: pointer;
}
.textoBinario::-webkit-scrollbar{
    background: #011a00;
}
.textoBinario::-webkit-scrollbar-thumb{
    background: #00ad00;
}
.textoNormal::-webkit-scrollbar{
    background: #011a00;
}
.textoNormal::-webkit-scrollbar-thumb{
    background: #00ad00;
}
.textofinal{
    text-align: center;
    background: #000;
    border: 2px inset #00ad00;
    color: #00ad00;
    width: 100%;
    margin: 0;
    margin-top: 5px;
    padding: 0;
}
.textofinal a{
    color: #00ad00;
}
